<nav class="navigation">
	<section class="nav_left">
		<fa-icon [icon]="faChevronLeft"></fa-icon>
		<a routerLink="/">All Projects</a>
	</section>
	<section class="nav_center">
		<p>Arnulfo Loredo</p>
	</section>
	<section class="nav_right">
		<fa-icon [icon]="faMoon"></fa-icon>
		<a routerLink="/">Go Dark</a>
		<fa-icon [icon]="faLanguage"></fa-icon>
		<a routerLink="/">Spanish</a>
	</section>
</nav>
<section class="hero">
	<h1>Arnulfo Loredo</h1>
	<p>Web Designer & Front End Developer</p>
</section>
