/* You can add global styles to this file, and also import other style files */
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Rubik:wght@500;700&display=swap');

:root {
	--color-yellow: #FFD30F;
	--color-white: #f3f3f3;
	--color-black-light: #191919;
	--color-black: #000000;
	--main-gray: #cac4b0;
	--container-size: 1024px;

	--title-color: var(--color-black);
	--headers-color: var(--color-black);
	--text-color: var(--color-black);
	--link-color: var(--color-black);
}

html {
	box-sizing: border-box;
	font-size: 12px;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	display: grid;
	grid-template-columns: 40px 1fr 40px;
	grid-template-rows: minmax(120px, 320px) auto 320px;
	grid-template-areas: ". header ."
					". main ."
					". footer .";
	background-color: var(--color-yellow);
}

app-header {
	grid-area: header;
	align-self: center;
}
.main {
	grid-area: main;
	background-color: var(--color-white);

	display: grid;
	grid-template-columns: 1fr minmax(auto, 800px) 1fr;
	grid-template-rows: auto;
}
app-footer {
	grid-area: footer;
}


h1 {
	color: var(--headers-color);
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 5.1rem;
	line-height: 1.5;
}
h2 {
	color: var(--headers-color);
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 4.1rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}
h3 {
	color: var(--headers-color);
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 3.3rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}
h4 {
	color: var(--headers-color);
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 2.6rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}
h5 {
	color: var(--headers-color);
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 2.1rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}
h6 {
	color: var(--headers-color);
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.7rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}
p,
ul,
ol {
	color: var(--text-color);
	font-family: "IBM Plex Sans", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.7rem;
	line-height: 1.5;
	margin-bottom: 1rem;

	&:last-child {
		margin-bottom: 0;
	}

	.text_bold {
		font-weight: bold;
	}
}
a {
	color: var(--link-color);
	font-family: "IBM Plex Sans", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.5;

	&:hover {
		color: var(--link-color);
	}
}
