<section>
	<h2>About me</h2>
<p>Visual Designer with a Front End and Engineer background. I moved from the coding side to the design side to create amazing experiences to the users. An incredible passion to always learn has helped me shaped a broader profile that moves from UX design, Information Architecture, UI Design and Front End.</p>
</section>

<section>
	<h2>Portfolio</h2>
	<a routerLink="/portfolio">See more projects</a>
</section>

<section>
	<h2>Education and Certifications</h2>
	<a routerLink="/education">See more certifications</a>
</section>